<app-management-layout title="Detalhes do Dispositivo"
    subtitle="Visualize informações e gerencie operações do seu dispositivo." [loading]="loading" [hasData]="hasData">

    <ng-template #tableContent>
        <app-device-detail-layout [id]="id()!" [mqttId]="mqttId()" [name]="name()" [model]="model()"
            [partnerId]="partnerId()" [partners]="partners()" [qrUrl]="qrUrl()" mode="view" [releasing]="releasing()"
            [deviceProducts]="deviceProducts()" [releaseError]="releaseError()"
            (releaseManual)="onReleaseManual($event)" (editProduct)="onProductUpdated($event)" (cancel)="onCancel()">
        </app-device-detail-layout>

    </ng-template>

</app-management-layout>