<app-management-layout title="Gerenciamento de Leads"
    subtitle="Visualize e gerencie os leads interessados em seus serviços." addButtonLabel="Adicionar Lead"
    addRoute="/admin/leads/new" [loading]="loading" [hasData]="hasData">

    <ng-template #tableContent>
        <app-lead-list [leads]="leads()" [loading]="loading()" (view)="onView($event)" (edit)="onEdit($event)"
            (remove)="onDelete($event)">
        </app-lead-list>

        <app-lead-detail *ngIf="selectedLead()" [lead]="selectedLead()!" (close)="selectedLead.set(null)">
        </app-lead-detail>

        <app-delete-modal *ngIf="showDeleteModal()" [objectName]="leadToDelete()?.name || ''"
            alertMessage="Ao excluir este lead, todos os dados de contato e histórico de interações serão perdidos permanentemente."
            [loading]="isDeleting()" (confirm)="confirmDelete()" (cancel)="closeDeleteModal()">
        </app-delete-modal>
    </ng-template>

</app-management-layout>