<div class="px-4 py-8 grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Coluna da Esquerda (Formulário + Produtos) -->
    <div class="lg:col-span-2 space-y-8">
        <!-- Formulário -->
        <app-device-form [id]="id() ?? ''" [name]="name()" [model]="model()"
            [partnerId]="partnerId()" [partners]="partners()" [mode]="mode()" [loading]="releasing()"
            [deviceProducts]="deviceProducts()" [releaseError]="releaseError()" 
            [boards]="boards()" [boardId]="boardId()"
            (save)="save.emit($event)"
            (releaseManual)="releaseManual.emit($event)" (cancel)="cancel.emit()">
        </app-device-form>

        <!-- Gerenciamento de Produtos / Lista de Produtos -->
        <div *ngIf="id() && (mode() === 'edit' || deviceProducts().length > 0)">
            <app-device-product-manager [availableProducts]="allProducts()" [deviceProducts]="deviceProducts()"
                [loading]="productLoading()" [viewOnly]="mode() === 'view'" (add)="addProduct.emit($event)"
                (remove)="removeProduct.emit($event)" (edit)="editProduct.emit($event)">
            </app-device-product-manager>

        </div>
    </div>

    <!-- Coluna da Direita (Card do QR Code) -->
    <div class="space-y-6">
        <app-device-qr-card *ngIf="id()" [qrUrl]="qrUrl()" [name]="name()" [model]="model()"
            [id]="id()!">
        </app-device-qr-card>
    </div>
</div>